

*
    box-sizing: border-box
    padding: 0
    margin: 0

// body
//     display: flex
//     flex-direction: column
//     justify-content: center
//     align-items: center
//     min-height: 100vh
//     background-color: #2f2f2f

   
// Clip Path Shaper   
// .container
//     width: 300px
//     height: 300px
//     border: 3px solid #fff
//     margin-top: 20px
//     img
//         height: 100%
//         width: 100%    

// // Triagne Form     
// .TriangleImage
//     clip-path: polygon(50% 0%, 0% 100%, 100% 100%)  

// // Circular Form
// .CircleImage
//     clip-path: circle(50%)      

// // Star Form
// .StarImage    
//     clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%)     


// Clip Path Hover Image Effect
// .container
//     position: relative
//     width: 900px
//     height: 600px
//     background-color: #222
//     & .clip
//         position: absolute
//         top: 0
//         left: 0
//         width: 100%
//         height: 100%
//         transition: all 0.6s
//     .clip1
//         background: url('https://images.unsplash.com/photo-1704080668828-5ed22e758590?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
//         background-size: cover
//         background-position: center
//         clip-path: polygon(0% 0%, 17% 0%, 49% 100%, 0% 100%)
//     .clip2
//         background: url('https://images.unsplash.com/photo-1704026437902-699fa6a8c98d?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
//         background-size: cover
//         background-position: center
//         clip-path: polygon(13% 0%, 81% 0%, 59% 100%, 36% 100%)
//     .clip3
//         background: url('https://images.unsplash.com/photo-1704037318316-1f988fd5edaa?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
//         background-size: cover
//         background-position: center
//         clip-path: polygon(79% 0%, 100% 0%, 100% 100%, 59% 100%)
//     &:hover .clip
//         clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)
//     & .clip
//         &:hover
//             clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)    


// Wavy Effect
// .wave
//     position: relative
//     width: 500px
//     height: 500px
//     display: flex
//     justify-content: center
//     align-items: center
//     h2
//         position: absolute
//         font-size: 180px
//         text-transform: uppercase
//         &:nth-child(1)
//             color: #7efff5
//         &:nth-child(2)
//             color: #1d3c6b
//             animation: wave 2s infinite

// .wave-transparent
//     position: relative
//     width: 500px
//     height: 500px
//     display: flex
//     justify-content: center
//     align-items: center
//     h2
//         position: absolute
//         font-size: 180px
//         text-transform: uppercase
//         &:nth-child(1)
//             color: transparent
//             -webkit-text-stroke: 1px #6e3066
//         &:nth-child(2)
//             color: #e41bb8
//             animation: wave 2s infinite
            
                
// @keyframes wave
//     0%
//         clip-path: polygon(0% 30%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%)
//     50%
//         clip-path: polygon(0% 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%)
//     100%
//         clip-path: polygon(0% 30%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%)


// Image to circle hover effect    
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh
                        
// .card
//     position: relative
//     width: 360px
//     height: 500px
//     & .img
//         position: absolute
//         top: 0
//         left: 0
//         width: 100%
//         height: 100%
//         transition: all 0.6s
//         clip-path: circle(69% at 50% 50%)
//         img
//             width: 100%
//             height: 100%
//             object-fit: cover
//     &:hover .img
//         clip-path: circle(15% at 50% 45%)
//     &:hover .content h2, &:hover .content p, &:hover .content a 
//         opacity: 1
//         transform: translateY(0)
//         transition-delay: 0.5s

// .content
//     position: absolute
//     left: 0
//     bottom: 50px
//     text-align: center
//     h2
//         padding: 0
//         margin: 0
//         text-transform: uppercase
//         opacity: 0
//         transition: 0.3s
//         transform: translateY(20px)
//     p
//         margin-bottom: 20px
//         font-size: 15px
//         text-transform: capitalize  
//         opacity: 0  
//         transition: 0.3s
//         transform: translateY(20px)
//     a
//         display: inline-block
//         text-decoration: none   
//         background-color: #000
//         color: #fff
//         padding: 5px 10px
//         text-transform: capitalize 
//         opacity: 0
//         transition: 0.3s
//         transform: translateY(20px)
                

//  Menu Split Effect
body
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh    

ul
    margin: 0
    padding: 0
    li
        position: relative
        list-style: none
        margin: 10px 0
        overflow: hidden
        a
            position: relative
            display: block
            text-align: center
            margin: 0
            padding: 5px 10px
            text-transform: uppercase
            transition: 0.6s
            font-size: 60px
            font-weight: 900
            text-decoration: none
            color: transparent
            &::before
                content: attr(data-text)
                position: absolute
                top: 0
                left: 0
                width: 100%
                padding: 5px 10px
                color: #262626
                box-sizing: border-box
                transition: 0.6s
                clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%)
            &::after
                content: attr(data-text)
                position: absolute
                top: 0
                left: 0
                width: 100%
                padding: 5px 10px
                color: #262626
                box-sizing: border-box
                transition: 0.6s
                clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%)    
            &:hover:before
                color: #9c4dc0
                transform: translate(10px, -3px)
            &:hover:after
                color: #9c4dc0
                transform: translate(-10px, 3px)
        &::before
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 100%
            height: 1px
            background-color: #4f4dbd
            left: -100%
            transition: 0.6s
        &:hover:before
            left: 100%
            

            
                




